body {
  background-color: dimgrey;
  height: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  padding: auto;
}

h2 {
  text-align: center;
  padding: auto;
  margin-left: -15%;
}

h2.right {
  margin-left: 15%;
}

p {
  padding-left: 5%;
  width: 90%;
}

ul {
  list-style-type:square;
}

div.container {
  max-width: 1600px;
  margin: auto;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 10pt;
  padding-bottom: 50pt;
  background-color: darkgrey;
  overflow: auto;
}

div.item {
  display: table;
  width: 100%;
}

div.row {
  display: table-row;
  clear: both;
}

div.cell-text {
  display: table-cell;
  padding: auto;
  width: 70%;
  float: left;
}

div.cell-img {
  width: 30%;
  float: left;
  background-color: #CCCCCC;
}

div.cell-img img{
  width: 100%;
  object-fit: contain;
  border: 1px solid;
}